* {
    box-sizing: border-box;
}

#GAMENAME {
    margin-top: 150px;
}

h1, h2 {
    text-align: center;
}

#navbar, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

main {
    display: block;
    justify-content: center;
    align-items: center;
}

#CONTENT {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#START {
    margin-top: 50px;
    background-image: url('https://d1wli5mq9yq9mw.cloudfront.net/files/cards/thumbs/webp/full/POSTABLE2835.webp?v=1678225083');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 5rem;
    width: 9rem;
    border-radius: 0;
}

#START:hover{
    width: 30rem;
    height: 15rem;
    transition-duration: 3s; 
}

#buttons {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    background-color: rgb(73, 160, 120);
    color: white;
    border-radius: 25px;
}

#LOSE {
    display: flex;
    align-items: center;
    justify-content: center;
}

#RESTART {
    margin-top: 50px;
}

/* I straight BORROWED this confetti code effect but i thought it was so cool learning animation */
/* https://discourse.webflow.com/t/add-falling-confetti-with-css/103687 */

.hidden {
    display: none;
}
.container {
    width: 100%;
    height: 100%;
}
.confetti {
width: 15px;
height: 15px;
background-color: #f2d74e;
position: absolute;
left: 50%;
animation: confetti 4s ease-in-out -2s infinite;
transform-origin: left top;
}

.confetti:nth-child(1) {
background-color: #42b165; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
background-color: #000000; left: 20%; animation-delay: -1s;
}
.confetti:nth-child(3) {
background-color: #d773a5; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
background-color: #73ab4a; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
background-color: #b264a5; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
background-color: #7da460; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
background-color: #e871f3; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
background-color: #e17bf3; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
background-color: #7caf63; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
background-color: #000000; left: 100%; animation-delay: -2.5s;
}
.confetti:nth-child(11) {
background-color: #b264a5; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(12) {
background-color: #7da460; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(13) {
background-color: #030303; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(14) {
background-color: #e17bf3; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(15) {
background-color: #020202; left: 90%; animation-delay: -3.5s;
}


@keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}

/* found this cool code to fade items too */
/* https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */

#START {
    animation: fadeInAnimation ease-in 15s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
/* This is a typing code i borrowed */
/* https://css-tricks.com/snippets/css/typewriter-effect/ */

 #CONTENT {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0px; /* Adjust as needed */
    animation: 
      typing 1s steps(50, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
