
* {
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: center;
}

h1, h2 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: block;
    justify-content: center;
    align-items: center;
}

#CONTENT {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: larger;
    text-align: center;
}

#START {
    background-color: pink;
    margin-top: 50px;
    background-image: url('https://d1wli5mq9yq9mw.cloudfront.net/files/cards/thumbs/webp/full/POSTABLE2835.webp?v=1678225083');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 5rem;
    width: 9rem;
    border-radius: 0;
    transition-duration: 3s; 
}

#buttons {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    background-color: rgb(73, 160, 120);
    color: white;
    border-radius: 25px;
}

#LOSE {
    display: flex;
    align-items: center;
    justify-content: center;
}
